# VS Debug folder
.vs
*.pdb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bc
*.ll

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
!*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

!bindings/bgfx.lib
!bindings/bimg.lib
!bindings/bimg_decode.lib
!bindings/bx.lib

!bindings/bgfx.so
!bindings/bimg.so
!bindings/bimg_decode.so
!bindings/bx.so

# Executables
*.exe
*.out
*.app
